.container {
    display: flex;
    flex-direction: column;
}

.container > .logo {
    width: 800px;
    margin: 50px auto;
}

.container > .header {
    margin: 50px auto;
    text-align: center;
    font-family: monospace;
    font-size: 5em;
    color: #3eb349;
}
